<% content_for :head do %>
<%= javascript_include_tag 'typed', 'data-turbolinks-track' => true %>
<% end %>

<div id="contact">
  <div id="facebook" class="contact-button">
    <%= link_to image_tag("facebook.png"), "https://www.facebook.com/jm.pmaniego", target: "_blank" %>
  </div>
  <div id="twitter" class="contact-button">
    <%= link_to image_tag("twitter.png"), target: "_blank" %>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#experiences">Experiences</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
    </ul>
  </nav>
</div>
<div id="profile" class="cf attribute-container">
  <div id="profile-bg" class="bg shadow-inset">
    <div class="content">
      <h1 id='profile-title' class="title">Hi! I'm <span id="nickname"></span></h1 class="title">
    </div>
    <div class="overlay">
    </div>
  </div>
  <div id="profile-details">
    <div class="container">
      <div class="row cf">
        <div class="position text-center">Ruby on Rails Developer</div>
      </div>
      <div class="row cf">
        <div class="column half">
          <%= image_tag "jmjm-fx-cropped.jpg", id: "profile-image" %>
        </div>
        <div class="column half">
          <p>
            <div>
              Name
            </div>
            <span class="significant">Juan Miguel Maniego</span>
          </p>
          <p>
            <div>
              Age
            </div>
            <span class="significant"><%= ((Date.today - Date.parse('09/06/1993')).to_i / 365) %> Years</span>
          </p>
          <p>
            <div>
              Location
            </div>
            <span class="significant">BF Homes, Parañaque City, Philippines</span>
          </p>
        </div>
      </div>
      <div class="row cf">
        <div class="column full">
          <p>
            <ul class="description">
              <li>Graduated as Information Technology in Colegio de San Juan de Letran</li>
              <li>Had 6 months Ruby on Rails training in Gaiax Asia Corp</li>
              <li>Rails Developer 2013</li>
              <li>Comfortable on both back-end and front-end development</li>
              <li>Full stack developer in the making</li>
            </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="experiences" class="cf attribute-container">
  <div id="experiences-details">
    <div class="container">
      <div class="row cf">
        <div class="row cf">
          <h2>Career</h2>
        </div>
        <div class="row cf">
          <div class="column third">
            <h3>inDinero</h3>
            <div>May 2015 - Jan 2016</div>
          </div>
          <div class="column two-thirds">
            <h4>Junior Software Engineer</h4>
            <div>
              <ul class="description">
                <li>
                  Worked mostly on developing and maintaining inDinero App
                </li>
                <li>
                  Involved in a firefighting team that is responsible for managing or fixing bugs
                </li>
                <li>
                  Override select2 dropdown features to add more behavior for better UX
                </li>
                <li>
                  Improved Bills feature to notify users about their newly created bills, bills that are about to be due and bills that are overdue.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row cf">
          <div class="column third">
            <h3>Gaiax Asia Corp.</h3>
            <div>Jun 2015 - Feb 2015</div>
          </div>
          <div class="column two-thirds">
            <h4>Junior Web Developer</h4>
            <div>
            <ul class="description">
              <li>
                Had 6 months Ruby on Rails training
              </li>
              <li>
                As a Junior web developer focused on developing a multifunctional system for international corporations using Agile Development methodologies.
              </li>
              <li>
                Developed a Firefox extension that notifies users realtime the schedules and messages they have in iQube using WebSocket
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row cf">
        <div class="row cf">
          <h2>Education</h2>
        </div>
        <div class="row cf">
          <div class="column third">
            <h3>Colegio de San Juan de Letran</h3>
            <div>Jun 2009 - March 2013</div>
          </div>
          <div class="column two-thirds">
            <h4>Bachelor of Science in Information Technology</h4>
            <div>Major in Software Development</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="experiences-bg" class="bg shadow-inset">
    <div class="content">
      <h1 class="experiences-title title">Experiences</h1 class="title">
    </div>
    <div class="overlay"></div>
  </div>
</div>
<div id="skills" class="cf attribute-container">
  <div id="skills-bg" class="bg shadow-inset">
    <div class="content">
      <h1 class="skills-title title">Skills</h1 class="title">
    </div>
    <div class="overlay"></div>
  </div>
  <div id="skills-details">
    <div class="content"></div>
  </div>
</div>
<div id="projects" class="cf attribute-container">
  <div id="projects-details">
    <div class="content">
    </div>
  </div>
  <div id="projects-bg"  class="bg shadow-inset">
    <div class="content">
      <h1 class="projects-title title">Projects</h1 class="title">
    </div>
    <div class="overlay"></div>
  </div>
</div>